<!DOCTYPE html>

<div id="fullpage">
	<!-- First Section: The Hook -->
	<div class="section" id="1" data-anchor="firstPage">
		<div class="row main-row">

			<div class="first-line col-xl-9 col-lg-10 col-md-11 col-sm-12 col-xs-12" style="text-align:right">
				<span class="sentence"><strong>You</strong> Have the Next<br><span id="js-rotating-2">Big, World Changing, Revolutionary, Creative, Exciting, Paradigm-Shifting, Ground-Breaking, Disruptive, Fantastic, Innovative, Great, Passionate, History-Making</span> Idea.<span>
			</div>

			<div class="second-line col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-12 col-sm-12 col-xs-12" style="text-align:center">
				<img src="light.jpg"></img>
			</div>

			<div class="third-line col-xl-7 offset-xl-2 col-lg-7 offset-lg-1 col-md-9 offset-md-1 col-sm-12 col-xs-12" style="text-align:left">
				<span class="bottom">
					<span class="sentence"><strong>I</strong> Have the <br><span id="js-rotating-1">Tools, Expertise, Skills, Network, Software, Database Architecture, Developers, Design Team, Web Architecture, Wordpress, Ruby, Python, Lean Management, Knowledge</span> 
				</span>
			</div>

		</div>
	</div>

	<!-- Second Section: Capabilities & Services --> 
	<div class="section" id="2" data-anchor="secondPage">
	</div>

	<!-- Third Section: Process & Case Study -->
	<div class="section" id="3" data-anchor="thirdPage">
	</div>

	<!-- Fourth Section: Contact -->
	<div class="section" id="4" data-anchor="fourthPage">
	</div>
</div>
