<!DOCTYPE html>

<nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded white">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
	<a class="navbar-brand" href="#">Founder Hack</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Mission</a>
      <a class="nav-item nav-link" href="#">Clients</a>
      <a class="nav-item nav-link" href="#">Partners</a>
      <a class="nav-item nav-link" href="#">Contact</a>
    </div>
  </div>
</nav>

<section id="home" class="section">
	<div class="row" style="width:100%;">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:20px 40px;">
			<span class="sentence"><span class="highlight-yellow">You</span> Have The Next World-Changing <span class="highlight-blue">Idea</span> </span>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:20px 40px;">
			<span class="sentence"><span class="highlight-yellow">We</span> Have the Resources And <span id="###js-rotating-1" class="highlight-blue">Expertise</span>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:20px 40px;">
			<span class="sentence"><span class="highlight-yellow">Together</span> We Will Turn <span id="header-display" class="highlight-blue">Ideas Into Reality</span>
	</div>
</section>

<section id="why" class="section">
	<div class="row">
		<div class="col-xl-8 offset-xl-2 col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-10 offset-sm-1 col-xs-10 offset-xs-1">
			<h3><span class="strong">You</span> have the ambition to start, scale, or level-up your company. You labor over every aspect of it. Now it's time to give your technology the same love.</h3>
			<br><br>
			<h3 class="strong">We partner with startups to increase their chances of success</h3>
			<br><br>
			<h3><span class="strong">Together</span> we work on researching, building, testing, and executing: turning your lack of technology expertise into your advantage.</h3> 
			<br><br>
			<h3 class="strong">Why not use a partner that can do it all?</h3>
			<br><br><br><br>
		</div>
		<div class="call-to-action col-xl-4 offset-xl-4 col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-6 offset-sm-3 col-xs-8 offset-xs-2">
			<button type="button" class="btn btn-outline-primary important">Let's Get Started</button>
		</div>

	</div>
</section>

<section id="what" class="section">
	<div class="row">

		<div class="box light-bg col-lg-4 col-md-6 col-sm-12">
			<h2><b class="">We Learn Quickly</b></h2>
			<br>
			<img src="science.svg" style="height:200px;">
			<p>
			We're an agile technical team that lives lean. We're here to test, validate, and keep moving.
			</p>
		</div>
		<div class="box yellow-bg col-lg-4 col-md-6 col-sm-12">
			<h2><b>We Build Small</b></h2>
			<br>
			<img src="phone-app.svg" style="height:200px;">
			<p>
			You need an MVP. We are here to prove your concept quickly and not over-build.
			</p>
		</div>
		<div class="box blue-bg col-lg-4 col-md-6 col-sm-12"> 
			<h2><b>We Work Ourselves Out of a Job</b></h2>
			<br>
			<img src="checklist.svg" style="height:200px;">
			<p>
			Our goal is to get you to the next level. And when you're ready, we hand off scalable, quality code, methodygies, and technical structure to your in-house team.
			</p>
		</div>
	</div>
</section>


<section id="what" class="section">
	<div class="white-bg" style="width:100%;text-align:center;padding: 30px 50px 30px 50px;">
			<h3>We Call it <span class="strong">CTO-as-a-Service</span></h3>
			<br><br>
			<h3>Tech CoFounders are hard to find.</br>Digital Agencies will charge for more than what you need.<br>And discount remote development teams carry the highest risk.</br></br>We're none of those things</h3>
			<h3 style="font-weight:bold;margin-top:30px;"><b>We're a partner</b></h3>
</section>


<section id="what" class="section">
	<div class="row">
		<div class="box no-bg col-lg-4 col-md-6 col-sm-12">
			<h1 style="margin:auto; padding-top:120px; font-weight:bold;">What We Can do Together</h1>
		</div>
		<div class="box blue-bg col-lg-4 col-md-6 col-sm-12" style="padding-top:90px;text-align:left">
			<h2>Non-technical founders have enough to worry about. We will work together to ask the right questions, build the right technology, and partner with the right people to get you to market.</h2>
		</div>
		<div class="box yellow-bg col-lg-4 col-md-6 col-sm-12">
			<h2><b class="">User Discovery + Design</b></h2>
			<br>
			<img src="image.svg" style="height:200px;">
			<p>
			What does your market want?
			</p>
		</div>
		<div class="box blue-bg col-lg-4 col-md-6 col-sm-12">
			<h2><b class="">Software Engineering</b></h2>
			<br>
			<img src="code.svg" style="height:200px;">
			<p>
			How will we build it?
			</p>
		</div>
		<div class="box yellow-bg col-lg-4 col-md-6 col-sm-12">
			<h2><b>Consulting + CTO Services</b></h2>
			<br>
			<img src="rocket.svg" style="height:200px;">
			<p>
			What will get us to the next level?
			</p>
		</div>
		<div class="box light-bg col-lg-4 col-md-6 col-sm-12" style="padding-top:120px;">
			<h2>What Else Can We Do?</h2>
			<br><br>
			<button type="button" class="btn btn-outline-primary">Alot. Learn More...</button>
		</div>
	</div>
</section>

<section id="partners" class="section">
		<div class="box white-bg" style="padding:0px 10%;">
			<h3 class="strong">Need More?</h3>
			<br><br>
			<h3>We work with clients to deliver the best product, designs, and development available. We also work with a huge network of partners to leverage your startup's other needs.</h3>
			<!--	<button type="button" class="btn btn-outline-primary important">Join the Network</button> -->
		</div>
</section>
<section id="partners" class="section">
	<div class="row">
		<div class="box blue-bg col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<img src="image.svg" style="height:60px;">
			<h2 style="margin:auto; padding-top:20px; font-weight:bold;">Brand Management</h2>
		</div>
		<div class="box yellow-bg col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<img src="artist.svg" style="height:60px;">
			<h2 style="margin:auto; padding-top:20px; font-weight:bold;">UX / UI Design</h2>
		</div>
		<div class="box light-bg col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<img src="planet.svg" style="height:60px;">
			<h2 style="margin:auto; padding-top:20px; font-weight:bold;">Social Impact Consulting</h2>
		</div>
		<div class="box blue-bg col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<img src="money.svg" style="height:60px;">
			<h2 style="margin:auto; padding-top:20px; font-weight:bold;">Venture Capital</h2>
		</div>
		<div class="box yellow-bg col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<img src="artist.svg" style="height:60px;">
			<h2 style="margin:auto; padding-top:20px; font-weight:bold;">VR + AR</h2>
		</div>
		<div class="box light-bg col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<img src="files.svg" style="height:60px;">
			<h2 style="margin:auto; padding-top:20px; font-weight:bold;">Information Architecture</h2>
		</div>
	</div>
</section>

<section id="partners" class="section">
	<div class="row">
		<div class="white-bg" style="text-align:center;padding: 30px 50px 30px 50px;">
			<h3 class="strong">Our Clients</h3>
			<br><br>
			<h3>We have worked with nontechnical founders and technical ones. We have helped teams go from idea to market, and we have been called in to streamline projects years in the making. Whether it's your first technical team, or your tenth one, we work with each client to get it right.</h3>
			<br><br>
			<button type="button" class="btn btn-outline-primary important">View Case Studies</button>
		</div>
				<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
					<img style="display: block;margin: auto;margin-top:60px;"	src="PLANIT.png">
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
					<img style="display: block;margin: auto;margin-top:60px;"	src="TCG.png">
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
					<img style="display: block;margin: auto;margin-top:60px;"	src="KBPT.png">
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
					<img style="display: block;margin: auto;margin-top:60px;"	src="MAGIC.png">
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
					<img style="display: block;margin: auto;margin-top:60px;"	src="USY.png">
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
					<img style="display: block;margin: auto;margin-top:60px;"	src="Referrio.png">
				</div>
	</div>
</section>

<section id="contact" class="section">
	<div class="row">
		<div class="col-xl-8 offset-xl-2 col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-10 offset-sm-1 col-xs-10 offset-xs-1" style="margin-bottom:80px;">
			<h3 class="strong">Ready to get started?</h3>
			<br><br>
			<button type="button" class="btn btn-outline-primary important">Get in Touch</button>
		</div>
	</div>
</section>

<section id="footer" class="section">
	<div class="row">
		<div class="col-lg-4 col-md-6 col-sm-12">
			Copyright CK PRodutions Brah
		</div>
		<div class="col-lg-4 col-md-6 col-sm-12">
			SOCIAL MEDIA LINKS
		</div>
		<div class="col-lg-4 col-md-6 col-sm-12">
			Mission | Clients | Contact | Pattners
		</div>
	</div>
</section>
