<!DOCTYPE html>

<section id="home" class="section">
	<div class="row">
		<div id="first-line"  class="lead col-xl-8 offset-xl-1 col-lg-7 offset-lg-1 col-md-9 offset-md-1 col-sm-12 col-xs-12" style="text-align:left">
			<h1 style="text-align:left;font-size:75px;">Chip<br>Kennedy<br><span class="highlight">Consulting</span></h1>
		</div>
		<div id="second-line" class="lead col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-12 col-sm-12 col-xs-12" style="text-align:center">
		</div>
		<div id="first-line" class="lead first-line col-xl-5 offset-xl-1 col-lg-5 offset-lg-1 col-md-5 col-sm-12 col-xs-12" style="text-align:left">
			<span class="sentence"><strong>You</strong> Have the Next<br><span class="highlight" id="js-rotating-2"></span> Idea.<span>
		</div>
		<div id="third-line" class="lead first-line col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12" style="text-align:right">
			<span class="sentence"><strong>We</strong> Have the <br><span class="highlight" id="js-rotating-1">&nbsp;</span></span>
		</div>
	</div>
		<a href="#why">
			<span class="downPage"></span>
		</a>
</section>

<section id="why" class="section">
		<a href="#home">
			<span class="upPage"></span>
		</a>
	<div class="row">
		<div class="col-xl-6 offset-xl-3 col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-xs-10 offset-xs-1">
			<h1 style="text-align:left;"><span style="margin-left:0px;">I'm an </span><span class="highlight">engineer</span>,</br><span class="highlight">consultant</span>,</br>and <span class="highlight">partner</span> to ambitious young companies in their mission to better this world.</span> 
		</div>
		<a href="#what">
			<span></span>
		</a>
	</div>
</section>

<section id="what" class="section">
		<a href="#why">
			<span class="upPage"></span>
		</a>
	<div class="row">
		<div id="software" class="what col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
			<i class="fa fa-code fa-5x"></i>
			<h1><b class="">Software<br>Engineering</b></h1>
			<p>
				Turn ideas, abandoned projects, and existing tech into full stack, customer-ready applications.<span class="highlight">Iterative, business-minded, and user-focused</span> agile development allows us to build, iterate, and deliver better, faster	
			</p>
		</div>
		<div id="consulting" class="what col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
			<i class="fa fa-image fa-5x"></i>
			<h1><b class="">User<br>Discovery + Design</b></h1>
			<p>
			Gain a partner to help you <span class="highlight">navigate, scale up, and support</span> your changing technology. We use lean product design, tech team building, and an agile development process that will put you ahead of your competition	
			</p>
		</div>
		<div id="cto" class="what col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
			<i class="fa fa-briefcase fa-5x"></i>
			<h1><b>Consulting + CTO<br>Services</b></h1>
			<p>
			Gain a partner to help you <span class="highlight">navigate, scale up, and support</span> your changing technology. We use lean product design, tech team building, and an agile development process that will put you ahead of your competition	
			</p>
		</div>
		<a href="#how">
			<span class="downPage"></span>
		</a>
</div>
		<a href="#how">
			<span></span>
		</a>
</section>

<section id="how" class="section">
	<div class="row">
	</div>
		<a href="#why">
			<span></span>
		</a>
</section>
<section id="partners" class="section">
	<div class="row">
	</div>
		<a href="#why">
			<span></span>
		</a>
</section>
