<!DOCTYPE html>

		<a style="z-index:2;left:2%;position:fixed;bottom:60%;" href="#firstPage" id="firstPageButton">
			<i class="fa fa-circle fa-4x" aria-hidden="true"></i>
		</a>

		<a style="z-index:2;left:2%;position:fixed;bottom:50%;" href="#secondPage" id="secondPageButton">
			<i class="fa fa-circle-o fa-4x" aria-hidden="true"></i>
		</a>

		<a style="z-index:2;left:2%;position:fixed;bottom:40%;" href="#thirdPage" id="thirdPageButton">
			<i class="fa fa-circle-o fa-4x" aria-hidden="true"></i>
		</a>

<div id="fullpage">
	<!-- First Section: The Hook -->
	<div class="section" id="1" data-anchor="firstPage">
		<div class="row main-row">

			<div class="first-line col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-12 col-sm-12 col-xs-12" style="text-align:center">
				<h1><strong>You</strong> Have the Next __________ Idea.</h1>
			</div>

			<div class="second-line col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-12 col-sm-12 col-xs-12" style="text-align:center">
				<i class="fa fa-5x fa-lightbulb-o"></i>
			</div>

			<div class="third-line col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-12 col-sm-12 col-xs-12" style="text-align:center">
				<h1><strong>I</strong> Have the __________ to Help.</h1>
			</div>

		</div>
	</div>

	<!-- Second Section: Capabilities & Services --> 
	<div class="section" id="2" data-anchor="secondPage">
	</div>

	<!-- Third Section: Process & Case Study -->
	<div class="section" id="3" data-anchor="thirdPage">
	</div>

	<!-- Fourth Section: Contact -->
	<div class="section" id="4" data-anchor="fourthPage">
	</div>
</div>
