<!DOCTYPE html>

<section id="home" class="section">
	<div class="row">
		<div id="first-line" class="lead col-xl-7 offset-xl-1 col-lg-7 offset-lg-1 col-md-9 offset-md-1 col-sm-12 col-xs-12" style="text-align:left">
			<span class="sentence"><strong>You</strong> Have the Next<br><span class="highlight" id="js-rotating-2"></span> Idea.<span>
		</div>
		<div id="second-line" class="lead col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-12 col-sm-12 col-xs-12" style="text-align:center">
			<img src="lightbulb.png"></img>
		</div>
		<div id="third-line" class="lead first-line col-xl-10 col-lg-10 col-md-11 col-sm-12 col-xs-12" style="text-align:right">
				<span class="sentence"><strong>I</strong> Have the <br><span class="highlight" id="js-rotating-1">&nbsp;</span></span>
		</div>

		<a href="#why">
			<span></span>
		</a>
	</div>

</section>

<section id="why" class="section">
	<div class="row">
		<div class="col-xl-6 offset-xl-3 col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-xs-10 offset-xs-1">
			<h1 style="text-align:left;"><span style="margin-left:0px;">I'm an </span><span class="highlight">engineer</span>,</br><span class="highlight">consultant</span>,</br>and <span class="highlight">partner</span> to ambitious young companies in their mission to better this world.</span> 
		</div>
		<a href="#what">
			<span></span>
		</a>
	</div>
</section>

<section id="what" class="section">
	<div class="row">
		<div id="software" class="what col-lg-4 col-md-4 col-sm-6 col-xs-12">
			<i class="fa fa-terminal fa-5x"></i>
			<h1><b class="">Software Engineering</b></h1>
		</div>
		<div id="consulting" class="what col-lg-4 col-md-4 col-sm-6 col-xs-12">
			<i class="fa fa-cog fa-5x"></i>
			<h1><b class="">Technology Consulting</b></h1>
		</div>
		<div id="cto" class="what col-lg-4 col-md-4 col-sm-6 offset-sm-2 col-xs-12">
			<i class="fa fa-briefcase fa-5x"></i>
			<h1><b>Interim</br>CTO Services</b></h1>
		</div>
		<a href="#why">
			<span></span>
		</a>
</div>
</section>
