<!DOCTYPE html>

<nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded white">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
	<a class="navbar-brand" href="#">Chip Kennedy Consulting</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Mission</a>
      <a class="nav-item nav-link" href="#">Clients</a>
      <a class="nav-item nav-link" href="#">Partners</a>
      <a class="nav-item nav-link" href="#">Contact</a>
    </div>
  </div>
</nav>

<section id="home" class="section">
	<div class="row">
		<div id="first-line" class="lead first-line col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center">
			<span class="sentence"><strong>You</strong> Have the Next<br><span class="highlight" id="js-rotating-2"></span> Idea.<span>
		</div>
		<div id="third-line" class="lead first-line col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center">
			<span class="sentence"><strong>We</strong> Have the <br><span class="highlight" id="js-rotating-1">&nbsp;</span></span>
		</div>
	</div>
</section>

<section id="why" class="section">
	<div class="row">
		<div class="col-xl-8 offset-xl-2 col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-10 offset-sm-1 col-xs-10 offset-xs-1">
			<h3>You have the ambition to start, scale, or level-up your company. Your experience, passion, and drive will all be necessary in the process. You work on every aspect of it. Now it's time to give your technology the same love.</h3>
			<br><br>
			<h3 class="strong">I partner with startups to increase their chances of success</h3>
			<br><br>
			<h3>Together we work on researching, building, testing, and executing. From developing ideas, to building technology platforms, to streamlining your operations, we will turn your lack of technology expertise into your advantage. Outsourcing your needs is risky and building your own team is expensive.</h3> 
			<br><br>
			<h3 class="strong">Why not use a partner that can do it all?</h3>
			<br><br><br><br>
		</div>
		<div class="col-xl-4 offset-xl-4 col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-6 offset-sm-3 col-xs-8 offset-xs-2">
			<button type="button" class="btn btn-outline-primary important">Let's Get Started</button>
		</div>

	</div>
</section>

<section id="what" class="section">
	<div class="row">
		<div class="box no-bg col-lg-4 col-sm-12">
			<h1 style="margin:auto; padding-top:120px; font-weight:bold;">What We Can do Together</h1>
		</div>
		<div class="box blue-bg col-lg-4 col-sm-12" style="text-align:left">
			<h2>Non-technical founders have enough to worry about. And building technology is a lot more than code. We will work together to ask the right questions, build the right technology, and partner with the right people to get you to market.</h2>
		</div>
		<div class="box yellow-bg col-lg-4 col-sm-12">
			<h2><b class="">User Discovery + Design</b></h2>
			<br>
			<img src="image.svg" style="height:200px;">
			<p>
			What does your market want?
			</p>
		</div>
		<div class="box blue-bg col-lg-4 col-sm-12">
			<h2><b class="">Software Engineering</b></h2>
			<br>
			<img src="code.svg" style="height:200px;">
			<p>
			How are we going to build it?
			</p>
		</div>
		<div class="box yellow-bg col-lg-4 col-sm-12">
			<h2><b>Consulting + CTO Services</b></h2>
			<br>
			<img src="rocket.svg" style="height:200px;">
			<p>
			How are we going to get you to the next level?
			</p>
		</div>
		<div class="box light-bg col-lg-4 col-sm-12" style="text-align:left;padding-top:120px;">
			<h2>All this is supplemented by a New-York based network of world class partners</h2>
			<br><br>
			<button type="button" class="btn btn-outline-primary">Learn More</button>
		</div>

		<div class="white-bg col-md-12 col-lg-12 col-sm-12" style="height:100px;">
		</div>


		<div class="box yellow-bg col-lg-4 col-sm-12">
			<h2><b class="">User Discovery + Design</b></h2>
			<br>
			<img src="image.svg" style="height:200px;">
			<p>
			What does your market want?
			</p>
		</div>
		<div class="box blue-bg col-lg-4 col-sm-12" style="text-align:left">
			<h2>Non-technical founders have enough to worry about. And building technology is a lot more than code. We will work together to ask the right questions, build the right technology, and partner with the right people to get you to market.</h2>
		</div>
		<div class="box no-bg col-lg-4 col-sm-12">
			<h1 style="margin:auto; padding-top:120px; font-weight:bold;">How We Work</h1>
		</div>
		<div class="box blue-bg col-lg-4 col-sm-12">
			<h2><b class="">Software Engineering</b></h2>
			<br>
			<img src="code.svg" style="height:200px;">
			<p>
			How are we going to build it?
			</p>
		</div>
		<div class="box yellow-bg col-lg-4 col-sm-12">
			<h2><b>Consulting + CTO Services</b></h2>
			<br>
			<img src="rocket.svg" style="height:200px;">
			<p>
			How are we going to get you to the next level?
			</p>
		</div>
		<div class="box light-bg col-lg-4 col-sm-12" style="text-align:left;padding-top:120px;">
			<h2>All this is supplemented by a New-York based network of world class partners</h2>
			<br><br>
			<button type="button" class="btn btn-outline-primary">Learn More</button>
		</div>
	</div>
</section>

<section id="partners" class="section">
	<div class="row">
		<div class="col-md-12">
			<h1>Our Amazing Partners</h1>
			<h3>We work with clients to deliver the best product, development, and design know-how in the biz. We also work with a huge network of peeps to take care ofe errrything else</h3>
		</div>
		<div class="box blue-bg col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<img src="image.svg" style="height:60px;">
			<h2 style="margin:auto; padding-top:20px; font-weight:bold;">Brand Management</h2>
		</div>
		<div class="box yellow-bg col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<img src="people.svg" style="height:60px;">
			<h2 style="margin:auto; padding-top:20px; font-weight:bold;">UX Research</h2>
		</div>
		<div class="box light-bg col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<img src="planet.svg" style="height:60px;">
			<h2 style="margin:auto; padding-top:20px; font-weight:bold;">Social Impact Consulting</h2>
		</div>
		<div class="box blue-bg col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<img src="money.svg" style="height:60px;">
			<h2 style="margin:auto; padding-top:20px; font-weight:bold;">Venture Capital</h2>
		</div>
		<div class="box yellow-bg col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<img src="artist.svg" style="height:60px;">
			<h2 style="margin:auto; padding-top:20px; font-weight:bold;">UI + Design</h2>
		</div>
		<div class="box light-bg col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<img src="files.svg" style="height:60px;">
			<h2 style="margin:auto; padding-top:20px; font-weight:bold;">Information Architecture</h2>
		</div>
	<div style="text-align:center;margin:30px 0px;;padding:0% 5%;" class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
		<img src="ALX.png">
		<h2 style="font-size:32px;">ALX Creatives</h2>
		<p style="padding:0px 100px;">A creative digital agency focused on building brands through powerful imagery and social media strategy.</p>
	</div>
	<div style="text-align:center;margin:30px 0px;;padding:0% 5%;" class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
		<img src="colektiv.png">
		<h2 style="font-size:32px;">Colektiv Digital</h2>
		<p style="padding:0px 100px;">A full stack user discovery, design, and development shop focusing on working with social impact organizations</p>
	</div>
	</div>
</section>

<section id="partners" class="section">
	<div class="row">
		<div class="box blue-bg col-md-12">
		<h1>(Some of) our Clients</h1>
		</div>
				<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
					<img style="display: block;margin: auto;margin-top:60px;"	src="PLANIT.png">
				</div>
				<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
					<img style="display: block;margin: auto;margin-top:60px;"	src="TCG.png">
				</div>
				<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
					<img style="display: block;margin: auto;margin-top:60px;"	src="KBPT.png">
				</div>
				<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
					<img style="display: block;margin: auto;margin-top:60px;"	src="MAGIC.png">
				</div>
				</div>
	</div>
</section>
