<!DOCTYPE html>

<div id="home" class="section row">
		<div id="first-line" class="lead first-line col-xl-9 col-lg-10 col-md-11 col-sm-12 col-xs-12" style="text-align:right">
			<span class="sentence"><strong>You</strong> Have the Next<br><span class="highlight" id="js-rotating-2"></span> Idea.<span>
		</div>
		<div id="second-line" class="lead col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-12 col-sm-12 col-xs-12" style="text-align:center">
			<img src="lightbulb.png"></img>
		</div>
		<div id="third-line" class="lead col-xl-7 offset-xl-2 col-lg-7 offset-lg-1 col-md-9 offset-md-1 col-sm-12 col-xs-12" style="text-align:left">
				<span class="sentence"><strong>I</strong> Have the <br><span class="highlight" id="js-rotating-1">&nbsp;</span></span>
		</div>
</div>

<div id="why" class="section row">
	<div class="col-xl-6 offset-xl-4 col-lg-8 offset-lg-2 col-md-10 offset-lg-1 col-sm-10 col-xs-10">
		<h1 style="text-align:left;">
			I'm an <span class="highlight">engineer</span>,</br><span class="highlight" style="margin-left:305px;">consultant</span>,
		</h1>
		<h1 style="text-align:left;"><span style="margin-left:-305px;">I'm an </span><span class="highlight">engineer</span>,</br><span class="highlight" style="margin-left:-50px;">consultant</span>,</br><span style="margin-left:305px;">and <span class="highlight">partner</span> to ambitious young companies in their mission to better this world.</span> 
	</div>
</div>

<div id="what" class="section row">
	<div id="software" class="what col-lg-4 col-md-4 col-sm-6 col-xs-12">
		<h1><span class="highlight">Software Engineering</span></h1>
	</div>
	<div id="consulting" class="what col-lg-4 col-md-4 col-sm-6 col-xs-12">
		<h1><span class="highlight">Technology Consulting</span></h1>
	</div>
	<div id="cto" class="what col-lg-4 col-md-4 col-sm-6 offset-sm-2 col-xs-12">
		<h1><span class="highlight">Interim</br>CTO Services</span></h1>
	</div>
</div>
