<!DOCTYPE html>

<nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded white">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
	<a class="navbar-brand" href="#">Founder Hack</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Mission</a>
      <a class="nav-item nav-link" href="#">Clients</a>
      <a class="nav-item nav-link" href="#">Partners</a>
      <a class="nav-item nav-link" href="#">Contact</a>
    </div>
  </div>
</nav>

<section id="home" class="section">
	<div class="row" style="width:100%;">
		<div class="sentence col-lg-8 offset-lg-3 col-md-10 offset-md-1 col-sm-12 col-xs-12">
			<span class="highlighter"><span class="highlight-yellow">Your</span> World-Changing Idea</span>
		</div>
		<div class="sentence col-lg-8 offset-lg-4 col-md-10 offset-md-1 col-sm-12 col-xs-12">
			<span class="highlighter"><span class="highlight-yellow">Our</span> Resources and Expertise</span>
		</div>
		<div class="sentence col-lg-7 offset-lg-5 col-md-10 offset-md-1 col-sm-12 col-xs-12">
			<span class="highlighter"><span class="highlight-yellow">Together,</span> Let's Turn Ideas Into Reality</span>
	</div>
</section>

<section id="you" class="section">
	<div class="mission row">
		<div id="mission" class="col-md-12">
			<h1>Founder Hack is a technology partner for startups looking to innovate, build, and scale</h1>
		</div>
		<div class="col-lg-5 offset-lg-3 col-md-8 col-sm-12 col-xs-12">
			<h4><span class="strong">You</span> have the ambition to start, scale, and level-up your company. Every detail, meeting, and milestone matters. And whether it's your platform, app, or internal software, your technology is pivotal.</h3>
		</div>
		<div class="col-lg-2 col-md-4 col-sm-12"style="margin-bottom:40px; text-align:center;">
			<img src="idea.svg" style="height:150px;">
		</div>

		<div class="col-lg-2 offset-lg-3 col-md-4 col-sm-12" style="margin-bottom:40px; text-align:center;">
			<img src="trophy.svg" style="height:150px;">
		</div>
		<div class="col-lg-5 col-md-8 col-sm-12 col-xs-12"style="margin-bottom:40px;">
			<h4><span class="strong">We</span> give startups a competitive edge by bringing top-of-the line consulting, engineering, and innovation to your team</h3>
		</div>
		<div class="col-lg-5 offset-lg-3 col-md-8 col-sm-12 col-xs-12">
			<h4><span class="strong">Together</span> we work to dream, design, build, iterate, and do what it takes to make sure your technology drives your company forward</h4>
		</div>
		<div class="col-lg-2 col-md-4 col-sm-12"style="margin-bottom:40px; text-align:center;">
			<img src="rocket.svg" style="height:150px;">
		</div>
	</div>
</section>

<section id="how" class="section">
	<div class="row">
		<div class="col-md-12" style="margin-bottom:60px;">
			<h2>We Believe Speed and Quality Compliment Each Other Well</h2>
			<h3>Tech CoFounders are hard to find.</br>Digital Agencies will charge for more than what you need.<br>And discount remote development teams carry the highest risk.</br></br>We're none of those things</h3>
			<h3 style="font-weight:bold;margin-top:30px;"><b>We're a partner</b></h3>
		</div>
		<div class="box light-bg col-lg-4 col-md-6 col-sm-12">
			<h3><b class="">We Learn Quickly</b></h3>
			<br>
			<img src="science.svg" style="height:200px;">
			<p>
			We're an agile technical team that lives lean. We're here to test, validate, and keep moving.
			</p>
		</div>
		<div class="box yellow-bg col-lg-4 col-md-6 col-sm-12">
			<h3><b>We Build Small</b></h3>
			<br>
			<img src="phone-app.svg" style="height:200px;">
			<p>
			You need an MVP. We are here to prove your concept quickly and not over-build.
			</p>
		</div>
		<div class="box blue-bg col-lg-4 col-md-6 col-sm-12"> 
			<h3><b>We Work Ourselves Out of a Job</b></h3>
			<br>
			<img src="checklist.svg" style="height:200px;">
			<p>
			Our goal is to get you to the next level. And when you're ready, we hand off scalable, quality code and practices to your in-house team.
			</p>
		</div>
	</div>
</section>


<section id="what" class="section">
	<div class="white-bg" style="width:100%;text-align:center;padding: 30px 50px 30px 50px;">
		<h2>We Know That it's About More than Just the Code</h2>
			<h3>We know what makes successful technology startups tick.<br>We work to combine your knowledge with our leading technology expertise and related startup services.</h3>
</section>


<section id="what" class="section">
	<div class="row">
		<div class="box no-bg col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<h1 style="margin:auto; padding-top:120px; font-weight:bold;">Our Services</h1>
		</div>
		<div class="box blue-bg col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<h3><b class="">User Discovery + Design</b></h3>
			<br>
			<img src="image.svg" style="height:100px;">
			<p>
			What does your market want?
			</p>
		</div>
		<div class="box yellow-bg col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<h3><b class="">Software Engineering</b></h3>
			<br>
			<img src="code.svg" style="height:100px;">
			<p>
			How will we build it?
			</p>
		</div>
		<div class="box light-bg col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<h3><b>Consulting + CTO Services</b></h3>
			<br>
			<img src="rocket.svg" style="height:100px;">
			<p>
			What will get us to the next level?
			</p>
		</div>
		<div class="box blue-bg col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<h3>Artificial Intelligence</h3>
			<br>
			<img src="server.svg" style="height:100px;">
			<p>
			Machine learning, natural language processing, and artificial intelligence know-how 
			</p>
		</div>
		<div class="box yellow-bg col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<h3><b>Virtual Reality + Mixed Reality</b></h3>
			<br>
			<img src="eye.svg" style="height:100px;">
			<p>
			Development for the future of client experiences.
			</p>
		</div>
		<div class="box light-bg col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<h3><b>Social Impact Consulting</b></h3>
			<br>
			<img src="planet.svg" style="height:100px;">
			<p>
			How to build with sustainable impact?
			</p>
		</div>
	</div>
</section>

<section id="partners" class="section">
	<div class="row">
		<div class="white-bg" style="text-align:center;padding: 30px 50px 30px 50px;">
				<h2>We Hustle Alongside Innovative Startups</h2>
			<br><br>
			<h3>We have worked with nontechnical founders and technical ones. We have helped teams go from idea to market in a few months, and we have been called in to streamline projects years in the making. Whether it's your first technical team, or your tenth one, we work with each client to get it right.</h3>
			<br><br>
		</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<img style="display: block;margin: auto;margin-top:60px;"	src="PLANIT.png">
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<img style="display: block;margin: auto;margin-top:60px;"	src="TCG.png">
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<img style="display: block;margin: auto;margin-top:60px;"	src="KBPT.png">
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<img style="display: block;margin: auto;margin-top:60px;"	src="MAGIC.png">
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<img style="display: block;margin: auto;margin-top:60px;"	src="USY.png">
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<img style="display: block;margin: auto;margin-top:60px;"	src="Referrio.png">
				</div>
	</div>
</section>

<section id="contact" class="section">
	<div class="row">
		<div class="col-xl-8 offset-xl-2 col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-10 offset-sm-1 col-xs-10 offset-xs-1" style="margin-bottom:80px;">
			<h3 class="strong">Ready to get started?</h3>
			<br><br>
			<button type="button" class="btn btn-outline-primary important">Get in Touch</button>
		</div>
	</div>
</section>

<section id="footer" class="section">
	<div class="row">
		<div class="col-lg-4 col-md-6 col-sm-12">
			Copyright CK PRodutions Brah
		</div>
		<div class="col-lg-4 col-md-6 col-sm-12">
			SOCIAL MEDIA LINKS
		</div>
		<div class="col-lg-4 col-md-6 col-sm-12">
			Mission | Clients | Contact | Pattners
		</div>
	</div>
</section>
