<!DOCTYPE HTML>
<html>
	<head>
		<title>Founder Hack</title>
		<link href="<%= stylesheet_path('application') %>" rel="stylesheet"></link>
		<script src="<%= javascript_path('application') %>"></script>
	</head>

	<body>
		<%= yield %>	
	</body>

</html>
