<!DOCTYPE HTML>
<html>
	<head>
		<title>Founder Hack</title>
		<link href="<%= stylesheet_path('application') %>" rel="stylesheet"></link>
		<script src="<%= javascript_path('application') %>"></script>
		<meta name="google-site-verification" content="O4ld_R1OENoy7kIxwVEpKHTqy3oxee_1blOt-k4ZHDI" />
	</head>

	<body>
		<%= yield %>	
	</body>

</html>
