<!DOCTYPE HTML>
<html>
	<head>
		<title>Chip Kennedy</title>

		<!-- Local -->
		<link href="<%= stylesheet_path('application') %>" rel="stylesheet"></link>
		<script src="<%= javascript_path('application') %>"></script>

	</head>

	<body>
		<div id="main-content">
			<%= yield %>	
		</div>
	</body>

</html>
