/* imports */
//@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Ledger|Nixie+One');
@import url('https://fonts.googleapis.com/css?family=Cardo');

@import "bootstrap";
@import "font-awesome-compass";
@import "font-awesome";

/* global vars */
$header-font: 			'Open Sans', sans-serif;//'Roboto', sans-serif; 
$body-font:				'Open Sans', sans-serif; //'Nunito', sans-serif;	
$primary-blue: 				#0D0AB3;
$secondary-blue:			#413DDA;
$teriary-blue:				#AEBEFF;
$primary-background:	#0082FF;
$primary-white:		#f8f8f8;
$secondary-white:	#ECECEC;
$primary-yellow:		#ffc300;

$primary-black:#000;

$secondary-background: rgba(115, 115, 115, 0.9);
$background-fade: rgba(115, 115, 115, 0.5);

body{
	background: url("../background_dark.jpg") no-repeat center center fixed; 
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height:100%;
	font-family: $body-font;
}

.white{
	background-color: $secondary-white;
}

.navbar{
	padding-left:250px;
	.nav-item{
		padding-left:50px;
	}
}

h1{
	font-size: 55px;
	//font-weight: bold;
	font-family: $header-font !important;
	line-height: 1.4;
	color: $primary-white;
	text-align:center;
}
.sentence{
	font-size: 55px;
	font-family: $header-font !important;
	line-height: 1.4;
	color: $primary-white;
}
h2{
	font-size: 35px;
	font-family: $header-font !important;
	font-weight:200;
	color:$primary-white;
	line-height: 1.35em !important;
}
h3{
	font-size: 30px;
	color: $primary-black; 
	font-family: $body-font !important;
	font-weight:200 !important;
	line-height: 1.35em !important;
}
h3.strong{
	font-weight:600 !important;
	text-align:center !important;
}
h4{
	font-size:24px;
	color:white;
	font-weight:200;
	margin-bottom:0px;
	font-family: $body-font;
}
h5{
	font-size:18px;
	color:$teriary-blue;
	font-weight:900;
	margin-bottom:2px;
	margin-top:5px;
	font-family: $body-font;
}
p{
	color: $primary-white;
	font-size:22px;
	font-family: $body-font;
}

section{
	display:flex;
	position:relative;
	width: 100%;

	.row{
		margin:0px;
	}
	.lead{
		position:relative;
	}
}

.btn{
	width:100%;
	height:80px;
	text-align:center;
	margin: auto;
	color:$primary-yellow;
	//border-color: $primary-yellow;
	background-color:$primary-blue;
	font-size:30px;
	font-weight:800;
	border-radius:0px;
}
.btn:hover{
	background-color:$primary-yellow;
	border-color: $primary-yellow;
	color:$primary-blue;
}

.box{
	.btn{
	}
}

//section-specific
section#home{
	padding-top:60px;
	position:relative;
	width: 100%;
	min-height:90vh;
}
section#why{
	border-top: 3px solid $primary-yellow;
	background-color:$secondary-white;
	padding:60px 0px;
	h1,h2,p{
		color:#000 !important;
	}
	a span.downPage{
		color:$primary-white !important;
	}

}
section#what, section#partners{
	.box{
		height:450px;
		text-align:center;
		padding: 30px 50px 30px 50px;
		h2{
			font-size:30px;
			color:$primary-white;
		}
	}
	.blue-bg{
		background-color:$primary-blue;
	}
	.white-bg{
		background-color:$secondary-white;
	}
	.yellow-bg{
		background-color:$secondary-blue;
	}
	.light-bg{
		background-color:$teriary-blue;
		h2,p{color:$primary-blue;}
	}
}
section#how{
	padding-top:30vh;
	border-top: 3px solid $primary-yellow;
	padding-top:40px;
	background-color:$secondary-white;
	h1,h2,p{
		color:$primary-white !important;
	}
	a span.downPage{
		color:$primary-white !important;
	}

	.table{
		margin-top:100px;
		border-collapse: collapse;
		td, th{
			height:100px;
			border: 2px solid $primary-white;
		}
		tr:first-child th {
			border-top: 0;
		}
		tr:last-child td {
			border-bottom: 0;
		}
		tr td:first-child,
		tr th:first-child {
			border-left: 0;
		}
		tr td:last-child,
		tr th:last-child {
			border-right: 0;
		}
	}
}
section#partners{
	padding-top:5vh;
	background-color: $secondary-white;

	.box{
		height:250px;
		text-align:center;
		padding: 30px 50px 30px 50px;
		h2{
			font-size:30px;
			color:$primary-white;
		}
	}
	h2,p{
		color:$primary-black;
	}
	h1{
		color:$primary-blue;
	}

}

section#contact{
	background-color: $primary-blue;
	color:$primary-white;
	height:200px;
	h3,p,h1{color:$primary-white !important;}
	.row{
		padding-top:40px;
		width:100%;
		text-align:center;
	}

}

section#footer{
	background-color: $primary-white;
	height:100px;
	color:$primary-black;
	.row{
		padding-top:40px;
		width:100%;
		text-align:center;
	}
}

i.fa{
	color:$primary-yellow;
}

div.what{
	text-align:center;
	padding: 0px 30px;
}

#first-line{
	margin-top:10%;
	height:28vh
}

#third-line{
	height:28vh;
}

.highlight{
	color:#ffc300;
	font-weight:bold;
}

/*
* Blinking Cursor
*
*/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/*
* Section Transition
*/

@-webkit-keyframes sdb05 {
	0% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-webkit-transform: rotate(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}
@keyframes sdb05 {
	0% {
		transform: rotate(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: rotate(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}
