/* imports */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import "bootstrap";
@import "font-awesome-compass";
@import "font-awesome";

/* global vars */
$header-font: 				'Montserrat', sans-serif;
$primary-blue: 				#0D0AB3;
$secondary-blue:			#413DDA;

$teriary-blue:				#AEBEFF;

$primary-background:	#0082FF;

$primary-white:		#f8f8f8;
$primary-yellow:		#ffc300;

$secondary-background: rgba(115, 115, 115, 0.9);
$background-fade: rgba(115, 115, 115, 0.5);


body{
	background: url("../background.jpg") no-repeat center center fixed; 
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height:100%;
}

h1{
	font-size: 55px;
	//font-weight: bold;
	font-family: $header-font !important;
	line-height: 1.4;
	color: $primary-white;
	text-align:center;
}
.sentence{
	font-size: 55px;
	font-family: $header-font !important;
	line-height: 1.4;
	color: $primary-white;
}
h2{
	font-size: 45px;
	font-family: $header-font !important;
	font-weight:500;
}
h3{
	font-size: 40px;
	color: $primary-blue; 
	font-family: $header-font !important;
	font-weight:500;
}
h4{
	font-size:24px;
	color:white;
	font-family: $header-font !important;
	font-weight:500;
	margin-bottom:0px;
}
h5{
	font-size:18px;
	color:$teriary-blue;
	font-family: $header-font !important;
	font-weight:900;
	margin-bottom:2px;
	margin-top:5px;
}
p{
	font-size:16px;
}

section{
	position:relative;
	width: 100%;
	height: 100vh;

	.row{
		margin:0px;
	}

	a span{
		position: absolute;
		top: 90%;
		left: 50%;
		width: 24px;
		height: 24px;
		margin-left: -12px;
		border-left: 1px solid #fff;
		border-bottom: 1px solid #fff;
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		-webkit-animation: sdb05 1.5s infinite;
		animation: sdb05 1.5s infinite;
		box-sizing: border-box;
	}

	.lead{
		position:relative;
	}

}

//Section-specific
section#why{
	padding-top:200px;
}

#first-line{
	height:30vh
}

#second-line{
	height:37vh;
}

#third-line{
	height:33vh;
}

.highlight{
	color:#ffc300;
	font-weight:bold;
}

/*
* Blinking Cursor
*
*/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/*
* Section Transition
*/

@-webkit-keyframes sdb05 {
	0% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-webkit-transform: rotate(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}
@keyframes sdb05 {
	0% {
		transform: rotate(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: rotate(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}
